apiVersion: v1
kind: Service
metadata:
  name: {{ include "secure-boot-app.fullname" . }}
  namespace: devops-challenge
  labels:
    {{- include "secure-boot-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      nodePort: {{ .Values.service.nodePort }}
  selector:
    {{- include "secure-boot-app.selectorLabels" . | nindent 4 }}
