replicaCount: 1

image:
  repository: secure-boot-app
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: NodePort
  port: 80
  nodePort: 30080

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  readOnlyRootFilesystem: true
  capabilities:
    add:
      - NET_BIND_SERVICE

containerSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  readOnlyRootFilesystem: true
  capabilities:
    add:
      - NET_BIND_SERVICE

resources:
  limits:
    memory: "256Mi"
  requests:
    memory: "128Mi"
